<!-- <section class="work-section mb-20">
  <div class="container lg:container mx-auto lg:mx-auto xl:max-w-screen-xl">
    <div
      class="work-container flex justify-center items-center flex-col gap-20"
    >
      <div
        class="work-container__work bg-[#3c3c3c] rounded-xl w-[850px] mt-[40px]"
      >
        <div class="work-view h-[430px] w-full rounded-xl p-5">
          <img
            src="../../../assets/images/bg/ams_thumbnail_1920x1080.jpg"
            alt=""
            class="h-full w-full bg-center bg-cover bg-no-repeat rounded-xl"
          />
        </div>
        <div class="work-info pl-5 pb-5">
          <p class="text-sm text-text_secondary">Landing page</p>
          <h5 class="text-xl text-text_primary">Work title</h5>
        </div>
      </div>

      <div
        class="work-container__work bg-[#3c3c3c] rounded-xl w-[850px] mt-[45px]"
      >
        <div class="work-view h-[430px] w-full rounded-xl p-5">
          <img
            src="../../../assets/images/bg/pg_thumbnail_1920x1080.jpg"
            alt=""
            class="h-full w-full bg-center bg-cover bg-no-repeat rounded-xl"
          />
        </div>
        <div class="work-info pl-5 pb-5">
          <p class="text-sm text-text_secondary">Landing page</p>
          <h5 class="text-xl text-text_primary">Work title</h5>
        </div>
      </div>

      <div
        class="work-container__work bg-[#3c3c3c] rounded-xl w-[850px] mt-[50px]"
      >
        <div class="work-view h-[430px] w-full rounded-xl p-5">
          <img
            src="../../../assets/images/bg/pg_thumbnail_1920x1080.jpg"
            alt=""
            class="h-full w-full bg-center bg-cover bg-no-repeat rounded-xl"
          />
        </div>
        <div class="work-info pl-5 pb-5">
          <p class="text-sm text-text_secondary">Landing page</p>
          <h5 class="text-xl text-text_primary">Work title</h5>
        </div>
      </div>
    </div>
  </div>
</section> -->
