<section class="py-20">
  <div class="container mx-auto lg:container lg:mx-auto xl:max-w-screen-xl">
    <div
      class="contact flex gap-5 lg:justify-between items-center flex-col lg:flex-row p-5 lg:p-16 rounded-tl-3xl rounded-br-3xl bg-slate-50 bg-gradient-to-r bg-gradient-to-br from-red-600 via-pink-500 to-purple-500"
    >
      <h2
        class="font-bold px-10 lg:px-0 w-full lg:w-[55%] text-2xl text-center lg:text-left lg:text-5xl text-[#fff]"
      >
        Interested in working with me?
      </h2>
      <a
        class="inline-block py-3 px-7 lg:py-[22px] lg:px-14 cursor-pointer rounded-full text-teal-50 bg-[#2b56f5] shadow-[0px_18px_30px_#365be26b]"
        >Let's talk</a
      >
    </div>
  </div>
</section>
