<section
  class="bg-primary_color py-20 h-[80vh] flex items-center justify-center"
>
  <div class="container mx-auto lg:container lg:mx-auto xl:max-w-screen-xl">
    <div class="about">
      <div class="about__info">
        <p>
          Helping design your business and personal website build with your
          demand
        </p>

        <button class="mt-6">
          <span class="text">Get Resume</span>
          <span class="blob"></span>
          <span class="blob"></span>
          <span class="blob"></span>
          <span class="blob"></span>
        </button>
      </div>
      <div class="about__img">
        <img
          src="../../../assets/images/bg/p2.jpg"
          alt=""
          class="about__img--image"
        />
        <div class="float-icon top-[-40px] left-2/4 translate-x-[-50%]">
          <a href="">
            <img
              src="../../../assets/images/icon/fb.png"
              alt=""
              class="h-full w-full bg-cover bg-center"
            />
          </a>
        </div>
        <!-- <div class="float-icon top-2/4 right-[-15px] translate-y-[-50%]"></div> -->
        <div class="float-icon top-2/4 left-[-40px] translate-y-[-50%]">
          <a href="">
            <img
              src="../../../assets/images/icon/linked.png"
              alt=""
              class="h-full w-full bg-cover bg-center"
            />
          </a>
        </div>
        <div class="float-icon bottom-[-40px] left-2/4 translate-x-[-50%]">
          <a href="">
            <img
              src="../../../assets/images/icon/github.png"
              alt=""
              class="h-full w-full bg-cover bg-center"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
