<footer class="footer bg-[#1c1d20] py-12">
  <div class="container mx-auto px-3 lg:px-0 xl:px-0">
    <div class="footer-content text-white text-center">
      <p class="font-serif">
        Made with <i class="fa-solid fa-heart text-red-700 ml-1 mr-1"></i> and
        <img
          src="../../../assets/images/icon/ang.png"
          alt=""
          class="h-5 w-5 bg-center bg-cover inline-block ml-1 mr-1"
        />

        <!-- <i class="fa-brands fa-angular text-red-700 ml-1 mr-1"></i> -->
        by Md Sowrov Khadem
        <span><i class="fa-regular fa-copyright"></i> {{ currentYear }}</span>
      </p>
    </div>
  </div>
</footer>
