<section class="py-20 bg-primary_color">
  <div class="lg:container lg:mx-auto xl:max-w-screen-xl px-3 lg:px-0 xl:px-0">
    <app-section-title [title]="'Works'"></app-section-title>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-10" #workCards>
      <div class="work-card">
        <div class="work-img">
          <img
            src="../../../assets/images/bg/ams_thumbnail_1920x1080.jpg"
            alt=""
            class="work-img__img"
          />
        </div>
        <div class="work-details">
          <div class="work-details__info">
            <p>Multi vendor e-commerce</p>
            <h5>Amarshohor</h5>
          </div>
        </div>
      </div>

      <div class="work-card">
        <div class="work-img">
          <img
            src="../../../assets/images/bg/fms_thumbnail_3200x1800.jpg"
            alt=""
            class="work-img__img"
          />
        </div>
        <div class="work-details">
          <div class="work-details__info">
            <p>Finance management system</p>
            <h5>Finance</h5>
          </div>
        </div>
      </div>
      <div class="work-card group">
        <div class="work-img overflow-hidden">
          <img
            src="../../../assets/images/bg/oliver.png"
            alt=""
            class="h-screen bg-cover bg-center w-full rounded-lg transition-transform duration-[7s] md:duration-[7s] lg:duration-[7s] group-hover:-translate-y-[70%]"
          />
        </div>
        <div class="work-details">
          <div class="work-details__info">
            <p>Boichitro Landing Page</p>
            <h5>Boichitro</h5>
          </div>
        </div>
      </div>

      <div class="work-card">
        <div class="work-img">
          <img
            src="../../../assets/images/bg/pg_thumbnail_1920x1080.jpg"
            alt=""
            class="work-img__img"
          />
        </div>
        <div class="work-details">
          <div class="work-details__info">
            <p>Ponit genie landing page</p>
            <h5>Point Genie</h5>
          </div>
        </div>
      </div>

      <div class="work-card">
        <div class="work-img">
          <img
            src="../../../assets/images/bg/df_thumbnail_1920x1080.jpg"
            alt=""
            class="work-img__img"
          />
        </div>
        <div class="work-details">
          <div class="work-details__info">
            <p>E-commerce</p>
            <h5>Discount finder</h5>
          </div>
        </div>
      </div>

      <div class="work-card group">
        <div class="work-img overflow-hidden">
          <img
            src="../../../assets/images/bg/edu.png"
            alt=""
            class="h-[250vh] bg-cover bg-center w-full rounded-lg transition-transform duration-[7s] md:duration-[7s] lg:duration-[7s] group-hover:-translate-y-[70%]"
          />
        </div>
        <div class="work-details">
          <div class="work-details__info">
            <p>Education landing page</p>
            <h5>Education</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section>
  <div class="work-container">
    <div class="work">
      <img
        src="../../../assets/images/bg/ams_thumbnail_1920x1080.jpg"
        alt=""
        class="h-full w-full bg-center bg-cover"
      />
    </div>
    <div class="work">
      <img
        src="../../../assets/images/bg/fms_thumbnail_3200x1800.jpg"
        alt=""
        class="h-full w-full bg-center bg-cover"
      />
    </div>
    <div class="work group overflow-hidden">
      <img
        src="../../../assets/images/bg/oliver.png"
        alt=""
        class="h-screen w-full bg-center bg-cover transition-transform duration-[7s] md:duration-[7s] lg:duration-[7s] group-hover:-translate-y-[70%]"
      />
    </div>
    <div class="work">
      <img
        src="../../../assets/images/bg/ams_thumbnail_1920x1080.jpg"
        alt=""
        class="h-full w-full bg-center bg-cover"
      />
    </div>
    <div class="work">
      <img
        src="../../../assets/images/bg/df_thumbnail_1920x1080.jpg"
        alt=""
        class="h-full w-full bg-center bg-cover"
      />
    </div>
    <div class="work">
      <img
        src="../../../assets/images/bg/fms_thumbnail_3200x1800.jpg"
        alt=""
        class="h-full w-full bg-center bg-cover"
      />
    </div>
  </div>
</section> -->
