<nav class="bg-primary_color py-2 sticky top-0 w-full left-0 z-50">
  <div
    class="container mx-auto lg:container lg:mx-auto xl:max-w-screen-xl py-2"
  >
    <div class="flex justify-between items-center">
      <!-- Logo -->
      <a class="text-white font-bold text-xl font-sans" routerLink="/">
        &lt; Md<span class="text-pink-500">Sowrov</span>/&gt;</a
      >

      <!-- Links -->
      <!-- <ul class="flex justify-center space-x-4">
        <li>
          <a class="text-white hover:text-gray-200" routerLink="/home">Home</a>
        </li>
        <li>
          <a class="text-white hover:text-gray-200" routerLink="/about"
            >About</a
          >
        </li>
        <li>
          <a class="text-white hover:text-gray-200" routerLink="/contact"
            >Contact</a
          >
        </li>
      </ul> -->

      <!-- Hamburger Icon -->
      <div class="flex justify-end">
        <!-- Add your hamburger icon here -->
        <!-- Hamburger Icon -->
        <div class="flex justify-end">
          <button
            class="text-white hover:text-gray-200 shadow-custom h-16 w-16 rounded-full text-center"
            (click)="onHamburgerClick()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6 mx-auto"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
