<section
  class="bg-primary_color w-full flex items-center justify-center h-[88vh]"
>
  <div class="container mx-auto">
    <div
      class="hero-main w-full grid grid-cols-12 place-items-center justify-center m-auto"
    >
      <div
        class="hero-main__content w-full col-span-8 col-start-3 lg:col-span-6 lg:col-start-4 mx-auto justify-center justify-self-center"
      >
        <div class="intro text-center">
          <h5 class="text-xl text-text_secondary font-bold my-10">Hi! I am</h5>
          <div class="name h-10 lg:h-24 overflow-hidden">
            <h2
              class="text-3xl lg:text-8xl font-[700] text-text_primary bg-gradient-to-r bg-gradient-to-br from-red-600 via-pink-500 to-purple-500 bg-clip-text text-transparent"
            >
              Md. Sowrov
            </h2>
          </div>
          <div class="name h-10 lg:h-24 overflow-hidden">
            <h2
              class="text-3xl lg:h-[85px] lg:text-8xl font-[700] text-text_primary bg-gradient-to-r bg-gradient-to-br from-red-600 via-pink-500 to-purple-500 bg-clip-text text-transparent"
            >
              Khadem
            </h2>
          </div>

          <h5
            class="uppercase text-base lg:text-2xl text-text_secondary font-bold my-10 bg-gradient-to-br from-blue-500 via-indigo-600 to-purple-600 bg-clip-text text-transparent"
          >
            Front-End Engineer
          </h5>
        </div>
        <div
          class="mail w-full lg:w-3/6 rounded-full mx-auto py-1 shadow-custom"
        >
          <div class="flex items-center">
            <div
              class="icon w-10 h-10 lg:w-16 lg:h-16 rounded-full bg-red-700 text-center flex items-center justify-center ml-1"
            >
              <span class="text-text_primary text-xl"
                ><i class="fa-regular fa-envelope"></i
              ></span>
            </div>

            <p
              class="text-text_secondary text-[11px] lg:text-sm text-center ml-5 lg:ml-10 cursor-pointer"
              appCopyToClipboard
            >
              mdsowrovkhadem@gmail.com
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
