<section class="bg-primary_color py-16 h-full">
  <div class="container lg:max-w-7xl lg:mx-auto">
    <div class="grid grid-cols-12">
      <div class="col-span-10 col-start-2">
        <div class="timeline-me h-full w-full">
          <ul class="timeline-me__block">
            <li data-timeline-me="1">
              <div class="timeline-me__card">
                <div
                  class="timeline-me__card-icon h-20 w-20 rounded-full flex items-center justify-center bg-black ml-auto"
                >
                  <img
                    src="../../../assets/images/icon/design.svg"
                    class="h-3/5 w-3/5 bg-center bg-cover"
                  />
                </div>
                <div class="timeline-me__card-content">
                  <h4 class="my-3">Design to markup</h4>
                  <p class="text-text_secondary text-sm line-clamp-4">
                    I will design a modern, boutique website. I can convert any
                    kinds of design to MARKUP/HTML . Which will be fully
                    responsive, pixel perfect, W3C Validated code .
                  </p>
                </div>
              </div>
            </li>
            <li data-timeline-me="2">
              <div class="timeline-me__card">
                <div
                  class="timeline-me__card-icon h-20 w-20 rounded-full flex items-center justify-center bg-black mr-auto"
                >
                  <img src="../../../assets/images/icon/angular.svg" />
                </div>
                <div class="timeline-me__card-content">
                  <h4 class="my-3">Angular</h4>
                  <p class="text-text_secondary text-sm line-clamp-4">
                    I also can develop custom design website with most popular
                    and fastest Front-End development framework Angular.
                    Currently I'm trying to do all of my projects with Angular.
                    It's really amazing .
                  </p>
                </div>
              </div>
            </li>
            <li data-timeline-me="3">
              <div class="timeline-me__card">
                <div
                  class="timeline-me__card-icon h-20 w-20 rounded-full flex items-center justify-center bg-black ml-auto"
                >
                  <img
                    src="../../../assets/images/icon/react.svg"
                    class="h-3/5 w-3/5 bg-center bg-cover"
                  />
                </div>
                <div class="timeline-me__card-content">
                  <h4 class="my-3">React js</h4>
                  <p class="text-text_secondary text-sm line-clamp-4">
                    Now I'am learning advance JavaScript. And also learning MERN
                    stack web development. MERN is a JavaScript stack that is
                    used for easier and faster deployment of full-stack web
                    applications
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
