<section>
  <div class="container lg:mx-auto xl:max-w-screen-xl">
    <!-- Add the slider element -->
  </div>
</section>

<section
  class="py-20 bg-primary_color skill-section h-full lg:h-screen flex items-center justify-center"
>
  <div class="lg:container lg:mx-auto xl:max-w-screen-xl px-3 lg:px-0 xl:px-0">
    <app-section-title [title]="'My skills'"></app-section-title>
    <div class="flex flex-wrap gap-5 justify-center items-center">
      <div class="skill">
        <p class="">JavaScript</p>
      </div>
      <div class="skill">
        <p class="">TypeScript</p>
      </div>
      <div class="skill">
        <p class="">C++</p>
      </div>
      <div class="skill">
        <p class="">Data Structure</p>
      </div>
      <div class="skill">
        <p class="">Algorithm</p>
      </div>
      <div class="skill">
        <p class="">OOP</p>
      </div>
      <div class="skill">
        <p class="">SQL</p>
      </div>
      <div class="skill">
        <p class="">Angular</p>
      </div>
      <div class="skill">
        <p class="">Bootstrap</p>
      </div>
      <div class="skill">
        <p class="">Tailwind</p>
      </div>
      <div class="skill">
        <p class="">PSD to HTML</p>
      </div>
      <div class="skill">
        <p class="">React</p>
      </div>
      <div class="skill">
        <p class="">HTML</p>
      </div>
      <div class="skill">
        <p class="">CSS</p>
      </div>
      <div class="skill">
        <p class="">SCSS</p>
      </div>
      <div class="skill">
        <p class="">GIT</p>
      </div>
      <div class="skill">
        <p class="">Express</p>
      </div>
      <div class="skill">
        <p class="">Php</p>
      </div>
    </div>
  </div>
</section>
