<section
  class="py-20 bg-primary_color skill-section h-screen flex items-center justify-center"
>
  <div class="lg:container lg:mx-auto xl:max-w-screen-xl">
    <div class="flex flex-wrap gap-5 justify-center items-center">
      <div
        class="skill rounded-full px-14 py-5 border-2 border-sky-500 flex items-center justify-center flex-col"
      >
        <p class="text-base text-sky-500">JavaScript</p>
      </div>
      <div
        class="skill rounded-full px-14 py-5 border-2 border-sky-500 flex items-center justify-center flex-col"
      >
        <p class="text-base text-sky-500">TypeScript</p>
      </div>
      <div
        class="skill rounded-full px-14 py-5 border-2 border-sky-500 flex items-center justify-center flex-col"
      >
        <p class="text-base text-sky-500">C++</p>
      </div>
      <div
        class="skill rounded-full px-14 py-5 border-2 border-sky-500 flex items-center justify-center flex-col"
      >
        <p class="text-base text-sky-500">Data Structure</p>
      </div>
      <div
        class="skill rounded-full px-14 py-5 border-2 border-sky-500 flex items-center justify-center flex-col"
      >
        <p class="text-base text-sky-500">Algorithm</p>
      </div>
      <div
        class="skill rounded-full px-14 py-5 border-2 border-sky-500 flex items-center justify-center flex-col"
      >
        <p class="text-base text-sky-500">OOP</p>
      </div>
      <div
        class="skill rounded-full px-14 py-5 border-2 border-sky-500 flex items-center justify-center flex-col"
      >
        <p class="text-base text-sky-500">SQL</p>
      </div>
      <div
        class="skill rounded-full px-14 py-5 border-2 border-sky-500 flex items-center justify-center flex-col"
      >
        <p class="text-base text-sky-500">Angular</p>
      </div>
      <div
        class="skill rounded-full px-14 py-5 border-2 border-sky-500 flex items-center justify-center flex-col"
      >
        <p class="text-base text-sky-500">Bootstrap</p>
      </div>
      <div
        class="skill rounded-full px-14 py-5 border-2 border-sky-500 flex items-center justify-center flex-col"
      >
        <p class="text-base text-sky-500">Tailwind</p>
      </div>
      <div
        class="skill rounded-full px-14 py-5 border-2 border-sky-500 flex items-center justify-center flex-col"
      >
        <p class="text-base text-sky-500">PSD to HTML</p>
      </div>
      <div
        class="skill rounded-full px-14 py-5 border-2 border-sky-500 flex items-center justify-center flex-col"
      >
        <p class="text-base text-sky-500">React</p>
      </div>
      <div
        class="skill rounded-full px-14 py-5 border-2 border-sky-500 flex items-center justify-center flex-col"
      >
        <p class="text-base text-sky-500">HTML</p>
      </div>
      <div
        class="skill rounded-full px-14 py-5 border-2 border-sky-500 flex items-center justify-center flex-col"
      >
        <p class="text-base text-sky-500">CSS</p>
      </div>
      <div
        class="skill rounded-full px-14 py-5 border-2 border-sky-500 flex items-center justify-center flex-col"
      >
        <p class="text-base text-sky-500">SCSS</p>
      </div>
      <div
        class="skill rounded-full px-14 py-5 border-2 border-sky-500 flex items-center justify-center flex-col"
      >
        <p class="text-base text-sky-500">GIT</p>
      </div>
      <div
        class="skill rounded-full px-14 py-5 border-2 border-sky-500 flex items-center justify-center flex-col"
      >
        <p class="text-base text-sky-500">Express</p>
      </div>
      <div
        class="skill rounded-full px-14 py-5 border-2 border-sky-500 flex items-center justify-center flex-col"
      >
        <p class="text-base text-sky-500">Php</p>
      </div>
    </div>
  </div>
</section>
