<section class="h-[80vh] flex items-center justify-center">
  <!-- <div
    class="bg-img bg-cover bg-center py-10 relative after:absolute after:content-[''] after:bg-[rgb(0,0,0,0.7)] bg-fixed after:top-0 after:left-0 after:h-full after:w-full w-full h-full before:z-20 z-10 py-24"
    style="
      background-image: url(../../../assets/images/bg/ams_thumbnail_1920x1080.jpg);
    "
  >
    <div class="container mx-auto lg:mx-auto lg:mx-auto xl:max-w-screen-xl">
      <div class="flex items-center justify-center">
        <div class="qoute-box relative z-50">
          <h2 class="italic text-3xl text-white">Make it work</h2>
          <h2 class="italic text-3xl text-white ml-10">make it right</h2>
          <h2 class="italic text-3xl text-white ml-20">make it fast</h2>
          <p class="italic text-sm text-white text-right">– Kent Beck</p>
        </div>
      </div>
    </div>
  </div> -->

  <div
    class="container mx-auto lg:mx-auto lg:mx-auto xl:max-w-screen-xl px-3 lg:px-0 xl:px-0"
  >
    <div class="flex items-center justify-center">
      <div class="qoute-box relative z-50">
        <span
          class="text-white text-lg lg:text-6xl font-extrabold absolute left-[-30px] lg:left-[-60px] top-[-30px] text-[#3c3c3c]"
          ><i class="fa-solid fa-quote-left"></i
        ></span>
        <h2 class="font-roboto text-2xl lg:text-5xl font-bold text-white">
          Every great design
        </h2>
        <h2 class="font-roboto text-2xl lg:text-5xl font-bold text-white ml-16">
          begin with an even
        </h2>
        <h2 class="font-roboto text-2xl lg:text-5xl font-bold text-white ml-32">
          better story
        </h2>
        <p class="italic text-sm text-white text-right">– Lorinda Mamo</p>
      </div>
    </div>
  </div>
</section>
