/* You can add global styles to this file, and also import other style files */
// @tailwind base;
// @tailwind components;
// @tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

::-webkit-scrollbar {
  display: none;
  width: 0;
}

/* Hide scrollbar for IE, Edge, and Firefox */
html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  font-family: "Montserrat", sans-serif !important;
  overflow-x: hidden;
  @apply bg-primary_color;
}
